.Container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 6rem 0px;
}

.Heading {
  text-align: center;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.SubHeading {
  text-align: center;
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

@media (max-width: 678px) {
  .iconContainer {
    flex-direction: column;
  }

  .iconItem {
    margin: 1em 0;
  }
}
