.HowWeWork {
  padding: 6em 0;
}

.title {
  text-align: center;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.IconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.IconItem {
  display: inline-block;
  width: 24%;
}

@media (max-width: 678px) {
  .IconItem {
    width: 90%;
  }
}

.IconItem h3 {
  font-weight: 600;
}

@media (max-width: 678px) {
  .IconContainer {
    flex-direction: column;
  }

  .IconItem {
    padding: 10px 0;
  }
}
