.container {
	position: relative;
}

.heading {
	color: rgb(222, 222, 222);
	font-size: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
}

/* .fastText {
	color: #0171bc;
}

.secureText {
	color: #fe0000;
} */
