.container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  align-items: center;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
  top: -150%;
}

.containerOpen {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  align-items: center;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 100%;
  top: 0;
}

.icon {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  padding: 20px;
}

.links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}

.links li {
  list-style-type: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .linksWrapper {
    grid-template-rows: repeat(6, 60px);
  }
}
