.navbar {
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  z-index: 10;
  width: 100%;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 100px;
  width: 90%;
  max-width: 1200px;
}

.navIcon {
  display: none;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  height: 100px;
  margin: 0;
}

.navItem {
  height: 100px;
  color: #000;
  display: flex;
  white-space: nowrap;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.navItem a:hover {
  color: #0171bd;
}

@media (max-width: 768px) {
  .navIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #000;
  }

  .navMenu {
    display: none;
  }

  .navbar {
    height: 89px;
  }

  .navbarContainer {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .navbarContainer {
    width: 60%;
  }
}
