.container {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto 0px auto;
  display: flex;
  /* min-width: 100vh; */
  min-height: calc(100vh - 202px) !important;
}

.info {
  margin: 0 20px;
  width: 50%;
}

.image {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0;
    margin: 3rem auto;
  }

  .info {
    margin: 20px 0;
    width: 100%;
  }

  .image {
    width: 100%;
    /* min-width: 200px; */
    height: auto;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.price {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
