.authContainer {
  min-height: calc(100vh - 422px) !important;
  margin: 5rem 0 3rem 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto;
}

.bikesContainer {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 60px;
}

@media (max-width: 1000px) {
  .bikesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .bikesContainer {
    grid-template-columns: 1fr;
  }
}

.bikeItem {
  border: 1px solid #000;
  border-radius: 4px;
  width: 400px;
}

.signOutText {
  margin: 60px 0 20px 0;
}
