.container {
	min-height: calc(100vh - 186px) !important;
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 800px;
	margin: 60px auto;
}

.form {
	display: flex;
	flex-direction: column;
	text-align: start;
	max-width: 800px;
	width: 100%;
	margin-top: 60px;
}

.textBox {
	padding: 10px 12px;
	border: 1px solid;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
}

.submitButton {
	width: 100%;
	background-color: #0171bd;
	color: #fff;
	padding: 10px 12px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: 0.2s ease-in;
}

.submitButton:hover {
	background-color: #0188e2;
}

.formGroup {
	margin-bottom: 20px;
	display: block;
	text-align: left;
}

.form label {
	text-align: left;
	margin-bottom: 0.4em;
	color: #464646;
}

.form .labelError {
	color: rgb(248, 108, 108);
}

.dropdownLabel {
	width: 100%;
	text-align: left;
	display: flex;
	align-self: flex-start;
}

.formControl {
	width: 100%;
	padding: 10px 12px;
	margin-bottom: 20px;
	border: 1px solid;
	border-radius: 4px;
}

.form select {
	padding: 10px 12px;
	appearance: none;
	-webkit-appearance: none;
	text-indent: 3px;
	line-height: 16px;
	background-color: #fff;
}

.confirmationNotice {
	font-size: 1.6em;
	margin: 3em 0;
}

.disclaimer {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 1em;
	align-items: flex-start;
}

.disclaimer__checkControl {
	display: flex;
	gap: 1em;
}
